.formbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button{
    font-family: 'Lato', sans-serif;
    background-color: darkblue;
    border: none;
    color: white;
    width: 5em;
    padding: 1em 0.5em;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bolder;
    display: inline-block;
}